p{
 height: 45px;
 /* width: 500px; */
 display: flex;
 background-color: tomato;
 align-items: center;
 justify-content: space-between;
 color: white;
}
.button :hover{
 background-color: green;
}
.coding{
 margin-top: 100px;
 background-color: violet;
 gap: 30px;
}
li {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 /* background-color: aqua; */
}
.java:hover{
 background-color: gold;
}
.python:hover{
 background-color: gold;
}
